//COLORS

$jaune-tpl: yellow;
$rouge-cafe: #d21d00;
$bleu-distorsion: #00adee;

//BREAKPOINTS

$small-size: 480px;
$medium-size: 768px;
$large-size: 1024px;

//FONTS

$fontTPL: 'Permanent Marker', cursive;
$fontCafe: 'Creepster', cursive;
$fontDisto: 'Silkscreen', cursive;
$fontDefault: 'Josefin Sans', sans-serif;
